<style>
    .modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 400px;
    height: 250px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 20px;
  }

  .hidden {
    display: none;
  }
  .modal-footer {
  text-align: center;
}

.modal-footer button {
  padding: 8px 16px;
  font-size: 14px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.modal-footer button:hover {
  background-color: #0056b3;
}
.modal-header{
  color: orangered;
  font-size: 1.2rem;
  font-weight: 600;
}
.modal-body{
  font-size: 1.1rem;
}
#closeModalButton{
  font-size: 1.3rem;
}
</style>
<div class="container-edit-novedad">
    <form action="/add-novedad" method="POST"  enctype="multipart/form-data" id="add-novedad-form">
    <div>
        <label for="novedad">Nombre de la novedad</label>
    <input type="text" name="novedad" id="novedad" autocomplete="off" placeholder="Nombre su novedad" autofocus required>
    </div>
        <div>
        <label for="imagen">Imagen de la novedad</label>
        <input type="file" name="imagenUrl" id="imagenUrl" autocomplete="off" accept="image/*" required>
    </div>
    <div>
        <label for="descripcion">Descripción de la novedad</label>
    <input type="text" name="descripcion" id="descripcion" autocomplete="off" class="corta" placeholder="Describa su novedad" required></input>
    </div>
    <div>
        <label for="descripcionLarga">Descripción Para la Pagina</label>
    <textarea type="text" name="descripcionLarga" autocomplete="off" id="descripcionLarga" class="larga" placeholder="Describa su novedad, de forma extensa" required></textarea>
    </div>
    
    <button> Crear novedad </button>
</form>
</div>
    <div class="modal" id="responseModal">
        <div class="modal-content">
            <div class="modal-header" id="responseModalTitle">Mensaje</div>
            <div class="modal-body" id="responseModalBody"></div>
            <div class="modal-footer">
                <button id="closeModalButton">Cerrar</button>
            </div>
        </div>
    </div>
<script src="/js/novedades/mostarModalAgregarNovedad.js"></script>
