
<style>
    h3{
        color: orangered;
        font-size: 1.4rem;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif   ;
    }
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 400px;
        background-color: rgb(0, 0, 79);
        border-radius: 20px;
    }
    form{
        width: 80%;
        height: 80%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }
    form button{
        background-color: orangered;
        width: 90%;
        height: 30px;
        border-radius: 20px;
        border: none;
        outline: none;
        color: white;
        font-size: 1.2rem;
        font-weight: 700;
    }

    form div{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 90%;
    }
    form div label{
        color: orangered;
        font-size: 1.2rem;
        font-weight: 700;
        font-family: Arial, Helvetica, sans-serif   ;
    }

    form div input, select{
        width: 100%;
        height: 30px;
        border: none;
        outline: none;
        padding-left: 10px;
        resize: none;
        background-color: rgb(2, 31, 194);
        color: white;
        font-weight: 600;
    }
    form div input::placeholder, select::placeholder{
        color: white;
    }
</style>


<h3 class="text-uppercase">EDITANDO UN DIRECTIVO</h3>
<div class="container">
<form action="/edit-equipo-directivo/{{equipoDirectivo.idDirectivo}}" method="POST">
    <div>
        <label for="Nombre">Nombre del Directivo</label>
        <input type="text" name="Nombre" id="Nombre" value="{{equipoDirectivo.Nombre}}" autofocus required>
    </div>

    <div>
        <label for="Apellido">Apellido del Directivo</label>
        <input name="Apellido" id="Apellido" required>{{equipoDirectivo.Apellido}}</input>
    </div>   

    <div>
        <label for="Cargo">Cargo del nuevo Directivo</label>
        <select name="Cargo" id="Cargo">
            <option value="Director/a">Director/a</option>
            <option value="Vicedirector/a">Vicedirector/a</option>
        </select>
    </div>                                    
    <button> Actualizar </button>
                        
</form>
</div>
