<main>
    <h1>Bienvenido al panel de administrador 😎</h1>
    <ul>
        <a href="/">Inicio</a>
        <a href="/novedades">Novedades</a>
        <a href="/proyectos">Proyectos</a>
        <a href="/noticias-profesores">Noticias profesores</a>
    </ul>
</main>